---
const list = [
  [
    `Principles to address Water-related DRR under the COVID-19 Pandemic`,
    "English",
    "",
  ],
  [`新冠肺炎全球大流行期间水相关灾害防灾减灾的处理原则`, "Chinese", ""],
  [
    `Principes pour la réduction des risques de catastrophes liées à l’eau (RRC) dans le cadre de la pandémie de COVID-19`,
    "French",
    "",
  ],
  [
    `Principios para abordar la reducción del riesgo de desastres relacionados con el agua (RRD) bajo la pandemia COVID-19`,
    "Spanish",
    "",
  ],
  [
    `مبادئ معالجة الحد من مخاطر الكوارث (DRR) المتّصلة بالمياه في ظل وباء فيروس كورونا (كوفيد-19)`,
    "Arabic",
    "",
  ],
  [
    `Принципы, направленные на снижение риска бедствий (СРБ), связанных с водой, в условиях пандемии COVID-19`,
    "Russian",
    "",
  ],
  [
    `በኮቪድ-19 ወረርሽኝ ውስጥ ከውሃ ጋር የተዛመደ አደጋ ስጋት ቅነሳን የሚዳስሱ መርሆች `,
    "Amharic (Ethio-Semitic language)",
    "Mihretab Gebretsadik",
  ],
  [
    `কোভিড-১৯ মহামারীর আওতায় পানি সম্পর্কিত দুর্যোগ ঝুঁকি হ্রাস (DRR) মোকাবেলায় নীতিমালা`,
    "Bengali",
    "Majadur Rahman Md",
  ],
  [
    `კოვიდ-19-ის პანდემიის პირობებში წყალთან დაკავშირებული კატასტროფების რისკის შემცირების (DRR) პრინციპები`,
    "Georgian",
    "GWP Georgia",
  ],
  [
    `कोविड-19 महामारी के तहत जल संबंधी आपदा जोख़िम न्यूनीकरण (डीआरआर) सिद्धांतों का मसौदा`,
    "Hindi",
    "",
  ],
  [
    `Prinsip Konsep untuk Mengatasi Pengurangan Risiko Bencana yang Terkait dengan Air (PRB) dalam Pandemi COVID-19`,
    "Indonesian",
    "",
  ],
  [
    `新型コロナウイルス感染症大流行下で水関連災害 に対処するための原則`,
    "Japanese",
    "",
  ],
  [
    `코로나19 대유행에 따른 물 관련 재난위험경감(Disaster Risk Reduction, DRR) 원칙`,
    "Korean",
    "",
  ],
  [
    `Суу жана COVID – 19 пандемиясынын шартына байланышкан кырсык тобокелдиктерин төмөндөтүүгө (КТТ) багытталган принциптер`,
    "Kyrgyz",
    "GWP Kyrgyzstan",
  ],
  [
    `Principles to address Water-related DRR under the COVID-19 Pandemic`,
    "Nepali",
    "Narayan Prasad Subedi",
  ],
  [
    `COVID-19 වසංගතය යටතේ ජලය ආශ්‍රිත ආපදා අවදානම් අවම කිරීම සදහා වූ මුලධර්ම`,
    "Singhala",
    "S.P.B Illangasingha",
  ],
  [
    `Mga Panuntunan upang Matugunan ang may Kaugnayan sa Tubig na ‘Disaster Risk Reduction’ (DRR) o Pagbabawas ng Panganib sa Kalamidad sa ilalim ng Pandemyang dulot ng COVID-19`,
    "Tagalog",
    "Vic Ballaran",
  ],
];
---

<section id="documents" class="mx-auto max-w-screen-lg space-y-8">
  <h2 class="text-center text-4xl">Documents</h2>
  <ul class="grid auto-rows-fr grid-cols-3 gap-4">
    {
      list.map(([article, lang, author]) => (
        <li class="group relative isolate overflow-hidden rounded-lg border-2 border-main bg-white p-4 shadow transition hover:bg-main hover:text-white">
          <article class="space-y-2">
            <p>
              {lang} {author && <span>• by {author}</span>}
            </p>
            <h1 set:text={article} />
          </article>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class=" absolute -bottom-4 right-0 -z-10 size-20 text-blue-100 transition-colors group-hover:text-blue-700"
          >
            <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
            <path d="M14 2v4a2 2 0 0 0 2 2h4" />
            <path d="M10 9H8" />
            <path d="M16 13H8" />
            <path d="M16 17H8" />
          </svg>
        </li>
      ))
    }
  </ul>
</section>
