---
import hero1 from "@/assets/images/covid-19/hero-1.jpg";
import { Image } from "astro:assets";
---

<section
  id="hero"
  class="relative grid place-items-center bg-blue-900 *:[grid-area:1/1/1/1] after:absolute after:inset-0 after:bg-blue-900/80"
>
  <Image
    loading="eager"
    src={hero1}
    alt=""
    class="h-[75dvh] w-full object-cover object-[80%]"
  />
  <h1 class="relative z-10 px-2 text-center text-4xl text-white">
    COVID-19 – Information Center
  </h1>
</section>
