---
import { Image } from "astro:assets";
import hero1 from "@/assets/images/brief/hero-1.png";
---

<section
  id="hero"
  class="mx-auto grid max-w-screen-lg items-center gap-8 px-2 md:grid-cols-2"
>
  <div>
    <Image
      loading="eager"
      src={hero1}
      alt="water drop with a city inside."
      class="mx-auto"
    />
  </div>
  <div class="space-y-4">
    <h1 class="text-4xl md:text-5xl">
      <span class="text-main">HELP</span>: Addressing Water and Disasters
    </h1>
    <p class="text-lg text-gray-700 md:text-2xl">
      Strategizing Comprehensive Solutions for Global Water Resilience and
      Effective Disaster Management
    </p>
  </div>
</section>
