---
import { Image } from "astro:assets";
import meetings1 from "@/assets/images/brief/meetings-1.jpg";
import meetings2 from "@/assets/images/brief/meetings-2.jpg";
import meetings3 from "@/assets/images/brief/meetings-3.jpg";
---

<section id="past-meetings" class="mx-auto max-w-screen-lg space-y-8 px-4">
  <h2 class="text-center text-4xl">Past Meetings</h2>
  <ul class="grid gap-x-4 gap-y-8 text-center md:grid-cols-3">
    {
      (
        [
          [
            "High-Level Expert Panel on Water and Disaster (HLEP/UNSGAB)",
            meetings1,
            "Flooded street.",
          ],
          [
            "Environmental DNA Tokyo Meeting of the High-Level Expert Panel on Water and Disaster (28 April 2011)",
            meetings2,
            "Garbage in the ocean.",
          ],
          [
            "UN Special Thematic Session on Water and Disasters (6 March 2013)",
            meetings3,
            "Person caring a child across flooded area.",
          ],
        ] as const
      ).map(([h3, src, alt], i) => (
        <li>
          <article class="group card relative h-full border ring-main transition focus-within:ring hover:ring">
            <figure>
              <Image
                {src}
                {alt}
                class="aspect-video w-full object-cover transition-transform  group-hover:scale-105"
              />
            </figure>
            <div class="card-body">
              <h3 class="card-title">
                <button
                  type="button"
                  data-dialog={i + 1}
                  set:text={h3}
                  class="outline-none after:absolute after:inset-0"
                />
              </h3>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</section>

<dialog class="modal modal-bottom !m-auto md:modal-middle">
  <div class="modal-box relative">
    <button
      type="button"
      id="close-dialog"
      class="btn btn-circle btn-sm absolute end-2 top-2"
    >
      <span class="sr-only">Close modal</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        ><path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"></path></svg
      >
    </button>
  </div>
</dialog>

<template data-dialog="1">
  <article class="prose">
    <h1 class="text-lg">
      High-Level Expert Panel on Water and Disaster (HLEP/UNSGAB)
    </h1>
    <p>
      The High-Level Expert Panel on Water and Disaster (HLEP/UNSGAB) was
      convened at the request of the UN Secretary General’s Advisory Board on
      water and Sanitation (UNSGAB) in 2007, under the Presidency of H.E. Dr.
      Han Seung-soo, Prime Minister of the Republic of Korea and Former
      President of the Korea Water Forum. The HELP included 21 experts in
      disaster preparedness and response and international issues, and was
      co-moderated by the World Water Council, the UN Secretariat for the
      International Strategy for Disaster Reduction (UNISDR), the Japan Water
      Forum and the Korea Water Forum.
    </p>
    <p>
      As the fruit of serious and devoted efforts from its participants, and
      united in its sincere wish to build a safer world, HLEP created the report
      “Water and Disaster” which was launched during the 4th World Water Forum
      in Istanbul.
    </p>
    <!-- TODO: check if link is correct -->
    <a
      href="http://www.waterforum.jp/eng/high_panel/"
      target="_blank"
      rel="noopener noreferrer">Learn more about HLEP/UNSGAB</a
    >
  </article>
</template>
<template data-dialog="2">
  <article class="prose">
    <h1 class="text-lg">
      Tokyo Meeting of the High-Level Expert Panel on Water and Disaster (28
      April 2011)
    </h1>
    <p>
      In the wake of the Great East Japan Earthquake and Tsunami on 11 March
      2011, the HLEP/UNSGAB gathered in Tokyo for an urgent meeting. The
      overwhelming consensus of the one-day meeting underlined that ‘lessons
      learned’ from the Japanese and other natural disasters should be quickly
      and rigorously applied, that disaster management and prevention were
      increasingly inter-related and could no longer be treated in isolation and
      that far greater cooperation at state, regional and international levels
      was needed. The meeting, co-hosted by the Japan International Cooperation
      Agency (JICA) and attended by international experts and government
      delegates, called for a series of immediate actions, including a special
      or plenary UN session on water-related disasters, and strengthening of
      regional cooperation, etc.
    </p>
    <a
      href="http://www.jica.go.jp/english/news/field/2011/20110428_01.html"
      target="_blank"
      rel="noopener noreferrer"
      >Learn more about Tokyo Meeting of the High-Level Expert Panel on Water
      and Disaster</a
    >
  </article>
</template>
<template data-dialog="3">
  <article class="prose">
    <h1 class="text-lg">
      UN Special Thematic Session on Water and Disasters (6 March 2013)
    </h1>
    <p>
      The UN Special Thematic Session on Water and Disasters was convened as an
      initiative of UN Secretary-General Ban Ki-moon at the UN Headquarters. The
      session was organized by the Secretary-General, Secretary General’s
      Advisory Board on Water and Sanitation (UNSGAB), and HLEP/UNSGAB. It was
      the first event in the UN history to have dedicated discussion on the
      subject of water and disasters.
    </p>
    <p>
      The session underscored “water and disasters” as one of the most
      important, pressing issues the international community should urgently
      address at the highest levels. Furthermore, the Special Meeting of the
      High Level Experts Panel on Water and Disaster (HLEP/UNSGAB) held in
      conjunction with the Special Thematic Session proposed to strengthen
      HLEP/UNSGAB by inviting more political leaders and government
      representatives into the panel members and renaming the panel from
      HLEP/UNSGAB to “High-level Experts and Leaders Panel on Water and
      Disasters (HELP).”
    </p>
  </article>
</template>

<script>
  document.addEventListener("astro:page-load", () => {
    const $dialog = document.querySelector("dialog");
    const $items = document.querySelectorAll<HTMLButtonElement>(
      "button[data-dialog]",
    );

    if ($dialog) {
      $items.forEach((i) =>
        i.addEventListener("click", () => {
          const { dialog } = i.dataset;
          const $template = document.querySelector<HTMLTemplateElement>(
            `template[data-dialog="${dialog}"]`,
          )!;
          const lastArticle = $dialog.querySelector("article");
          lastArticle && lastArticle.remove();
          $dialog.firstElementChild?.appendChild(
            $template?.content.cloneNode(true),
          );
          $dialog.showModal();
        }),
      );

      $dialog
        .querySelector<HTMLButtonElement>("#close-dialog")
        ?.addEventListener("click", () => $dialog.close());

      $dialog.addEventListener("click", ({ target }) => {
        if ((target as HTMLDialogElement).nodeName === "DIALOG")
          $dialog.close();
      });
    }
  });
</script>
