<section id="why-we-exist" class="mx-auto max-w-screen-lg space-y-4 px-4">
  <h2 class="text-4xl">Why We Exist</h2>
  <p
    class="max-w-[60ch] text-lg after:mt-4 after:block after:h-1 after:w-16 after:bg-main"
  >
    Established to mobilize political will and resources, the High-level Experts
    and Leaders Panel on Water and Disasters (HELP) serves the international
    community, governments, and stakeholders. With a focus on raising awareness,
    fostering coordination and collaboration, setting common goals and targets,
    monitoring progress, and implementing effective measures, HELP is dedicated
    to addressing the critical issues surrounding water and disasters
    worldwide."
  </p>
</section>
