---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/about/Hero.astro";
import Chair from "@/components/about/Chair.astro";
---

<BaseLayout title="">
  <main class="space-y-40 py-24 md:py-48">
    <Hero />
    <Chair />
  </main>
</BaseLayout>
