---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/about/Hero.astro";
---

<BaseLayout title="">
  <main class="space-y-40 py-48">
    <Hero />
  </main>
</BaseLayout>
