---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/covid-19/Hero.astro";
import About from "@/components/covid-19/About.astro";
import Docs from "@/components/covid-19/Docs.astro";
---

<BaseLayout isInverted title="">
  <main class="space-y-40 pb-48">
    <Hero />
    <About />
    <Docs />
  </main>
</BaseLayout>
