---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/documents/Hero.astro";
import Docs from "@/components/documents/Docs.astro";
---

<BaseLayout isInverted title="">
  <main class="space-y-40 pb-48">
    <Hero />
    <Docs />
  </main>
</BaseLayout>
