---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Disasters from "@/components/home/Disasters.astro";
import Hero from "@/components/home/Hero.astro";
import About from "@/components/home/About.astro";
import News from "@/components/News.astro";
---

<BaseLayout title="">
  <main>
    <Hero />
    <About />
    <Disasters />
    <News />
  </main>
</BaseLayout>
