---
import BaseLayout from "@/layouts/BaseLayout.astro";
import NewsCard from "@/components/news/NewsCard.astro";
import type { ComponentProps } from "astro/types";

const news: Array<ComponentProps<typeof NewsCard>> = [
  {
    title:
      "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolorem aliquam modi est exercitationem itaque labore facilis earum? Cum eum possimus fugiat ipsam pariatur doloribus maiores obcaecati ex fugit corrupti?",
    slug: "title-1",
    category: "meeting",
  },
  {
    title:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, quod.",
    slug: "title-2",
    category: "news",
  },
  { title: "Lorem ipsum dolor sit amet.", slug: "title-3", category: "news" },
  {
    title:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ab animi quia beatae officia aperiam ut.",
    slug: "title-4",
    category: "initiative",
  },
  {
    title:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus necessitatibus animi repellat ratione delectus nemo dolores nulla fugiat accusamus molestias.",
    slug: "title-5",
    category: "meeting",
  },
  {
    title:
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis, ipsam?",
    slug: "title-6",
    category: "meeting",
  },
];

const categories = [...new Set(news.map(({ category }) => category))];
---

<BaseLayout title="">
  <main class="space-y-40 py-24 md:py-48">
    <section class="mx-auto grid max-w-screen-xl px-4" id="news">
      <div class="space-y-4 text-center">
        <h1 class="text-4xl">Newsroom</h1>
        <p class="md:text-lg">
          The latest HELP news and press releases - the organization, our
          partners, meetings and initiatives.
        </p>
      </div>
      <ul
        aria-label="post filter"
        class="my-8 flex flex-wrap justify-center gap-4"
      >
        {
          ["all", ...categories].map((category) => (
            <li class="*:btn *:btn-outline *:btn-sm *:min-w-16 *:rounded-full *:capitalize">
              <button
                type="button"
                data-category={category}
                set:text={category}
              />
            </li>
          ))
        }
      </ul>
      <ul class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {
          news.map((post) => (
            <li
              style={`view-transition-name: ${post.slug};`}
              data-category={post.category}
            >
              <NewsCard {...post} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</BaseLayout>

<script>
  const $categoryBtns = document.querySelectorAll<HTMLButtonElement>(
    "button[data-category]",
  );
  const $posts = document.querySelectorAll<HTMLLIElement>("li[data-category]");

  $categoryBtns[0].classList.add("btn-active");

  const filter = (category: string) => {
    if (category === "all")
      return $posts.forEach((post) => post.classList.remove("hidden"));
    $posts.forEach((post) =>
      category === post.dataset.category
        ? post.classList.remove("hidden")
        : post.classList.add("hidden"),
    );
  };

  $categoryBtns.forEach((btn) =>
    btn.addEventListener("click", ({ target }) => {
      const { category } = btn.dataset;

      if (!category) return;
      // @ts-ignore
      document.startViewTransition
        ? // @ts-ignore
          document.startViewTransition(() => filter(category))
        : filter(category);

      $categoryBtns.forEach((btn) => btn.classList.remove("btn-active"));
      (target as HTMLButtonElement).classList.add("btn-active");
    }),
  );
</script>
