---
import disaster1 from "@/assets/images/home/disaster-1.jpg";
import disaster2 from "@/assets/images/home/disaster-2.jpg";
import disaster3 from "@/assets/images/home/disaster-3.jpg";
import disaster4 from "@/assets/images/home/disaster-4.jpg";
import disaster5 from "@/assets/images/home/disaster-5.jpg";
import { Image } from "astro:assets";

const list = [
  ["Flood", disaster1, "Person surviving during flooding.."],
  ["Tsunami", disaster2, "Seashore before tsunami."],
  ["Pollution", disaster3, "Garbage on the seashore."],
  ["Drought", disaster4, "Slightly submerged dead trees."],
  ["Contamination", disaster5, "Oil stains on the seashore."],
] as const;
---

<section id="disasters" class="space-y-16">
  <div class="mx-auto max-w-[50ch] space-y-4 px-4 text-center">
    <h2 class="text-main">Understand Water Disasters</h2>
    <p class="">
      Understanding and discussing water disasters are essential steps in
      addressing the challenges they pose to our society and the world's
      inhabitants.
    </p>
  </div>
  <ul
    class="relative flex flex-col gap-0.5 text-center text-white *:flex-1 *:bg-main *:transition-all before:absolute before:left-1/2 before:-translate-x-1/2 before:border-[30px] before:border-b-0 before:border-white before:border-x-transparent before:transition hover:before:opacity-0 motion-safe:hover:*:grow-[1.5] md:flex-row"
  >
    {
      list.map(([text, src, alt]) => (
        <li>
          <figure class="grid place-items-center *:[grid-area:1/1/1/1]">
            <Image {src} {alt} class="h-40 w-full object-cover md:h-80" />
            <figcaption class="group grid h-full w-full place-items-center bg-main/60 text-xl font-bold transition hover:opacity-0">
              {text}
            </figcaption>
          </figure>
        </li>
      ))
    }
  </ul>
</section>
