---
import hero1 from "@/assets/videos/home/hero-1.mp4";
import { SITE_LINKS } from "@/constants";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { AvailableLocales } from "i18n";
---

<section
  id="hero"
  class="relative min-h-dvh bg-blue-900 after:absolute after:inset-0 after:bg-black/50"
>
  <video
    src={hero1}
    width="960"
    height="540"
    class="absolute h-full w-full object-cover"
    autoplay
    loop
    muted
    playsinline></video>

  <div class="relative z-10 mx-auto min-h-dvh max-w-screen-xl">
    <div
      class="absolute bottom-0 end-0 max-w-[50ch] space-y-4 bg-main/75 p-8 text-white"
    >
      <h1 class="text-4xl font-bold">Water is life.</h1>
      <p class="text-lg">
        Yet in the face of escalating threats like pollution and scarcity,
        collaboration is vital for a sustainable future.
      </p>
      <a
        class="btn max-sm:btn-block"
        href={getRelativeLocaleUrl(
          Astro.currentLocale as AvailableLocales,
          SITE_LINKS.BRIEF,
        )}>Our Mission</a
      >
    </div>
  </div>
</section>
