---
import { SITE_LINKS } from "@/constants.ts";
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslation, type AvailableLocales } from "i18n";

const { BRIEF, NEWS, ABOUT, NETWORK, CONTACT, COVID_19, FLAGSHIP, DISASTERS } =
  SITE_LINKS;

const currentLocale = Astro.currentLocale as AvailableLocales;

const t = useTranslation(currentLocale);

const links = [
  {
    groupTitle: "HELP",
    links: [
      {
        href: getRelativeLocaleUrl(currentLocale, NETWORK),
        title: t("link.network"),
      },
      {
        href: getRelativeLocaleUrl(currentLocale, BRIEF),
        title: t("link.in-brief"),
      },
      {
        href: getRelativeLocaleUrl(currentLocale, ABOUT),
        title: t("link.who-we-are"),
      },
    ],
  },
  {
    groupTitle: "Resources",
    links: [
      {
        href: getRelativeLocaleUrl(currentLocale, CONTACT),
        title: t("link.contact"),
      },
      {
        href: getRelativeLocaleUrl(currentLocale, DISASTERS),
        title: t("link.disasters"),
      },
      {
        href: getRelativeLocaleUrl(currentLocale, COVID_19),
        title: t("link.covid-19"),
      },
    ],
  },
  {
    groupTitle: "Initiatives",
    links: [
      {
        href: getRelativeLocaleUrl(currentLocale, FLAGSHIP),
        title: t("link.flagship-initiatives"),
      },
      {
        href: getRelativeLocaleUrl(currentLocale, NEWS),
        title: t("link.newsroom"),
      },
    ],
  },
];
---

{
  links.map(({ groupTitle, links }) => (
    <nav class="capitalize">
      <p class="footer-title" set:text={groupTitle} />
      {links.map(({ title, href }) => (
        <a {href} set:text={title} class="link-hover link" />
      ))}
    </nav>
  ))
}
