---
import { languages } from "i18n";
import MainNav from "@/components/MainNav.astro";
---

<header class="fixed z-50 w-full text-white">
  <div class="mx-auto max-w-screen-lg space-y-2 px-2 py-2">
    <strong id="org" class="text-sm"
      >High-level Experts and Leaders Panel on Water and Disasters</strong
    >
    <hr />
    <div class="flex items-center gap-4">
      <strong class="text-lg">HELP</strong>
      <MainNav />
      <select name="lang" id="lang" class="appearance-none">
        {
          languages.map(({ name, lang }) => (
            <option value={lang}>{name}</option>
          ))
        }
      </select>
    </div>
  </div>
</header>

<style>
  header {
    animation: change-bg linear both;
    animation-timeline: scroll();
    animation-range: 0 150px;
  }

  @keyframes change-bg {
    to {
      @apply bg-blue-600 shadow;
    }
  }
</style>
