---
import MainNav from "@/components/MainNav.astro";
import LanguageSelect from "@/components/LanguageSelect.astro";
---

<header
  class="bg-main fixed z-50 w-full text-white supports-[animation-timeline:scroll()]:bg-transparent"
>
  <div class="mx-auto max-w-screen-lg space-y-2 px-2 py-2">
    <strong id="org" class="text-sm" lang="en"
      >High-level Experts and Leaders Panel on Water and Disasters</strong
    >
    <hr />
    <div class="flex items-center justify-between gap-4">
      <strong class="text-lg">HELP</strong>
      <MainNav />
      <LanguageSelect />
    </div>
  </div>
</header>

<style>
  @supports (animation-timeline: scroll()) {
    header {
      @apply bg-transparent;
      animation: change-bg linear both;
      animation-timeline: scroll();
      animation-range: 0 150px;
    }

    @keyframes change-bg {
      to {
        @apply bg-main -mt-11 shadow;
      }
    }
  }
</style>
