---
import MainNav from "@/components/MainNav.astro";
import LanguageSelect from "@/components/LanguageSelect.astro";
import { defaultLocale } from "i18n";
const {
  currentLocale,
  url: { pathname },
} = Astro;

const isHome =
  (currentLocale === defaultLocale ? pathname : pathname.slice(3)) === "/";
---

<header
  class:list={[
    "z-50 w-full",
    { "sticky top-0 text-black": !isHome },
    {
      "fixed  bg-main text-white supports-[animation-timeline:scroll()]:bg-transparent":
        isHome,
    },
  ]}
>
  <div class="mx-auto max-w-screen-xl space-y-2 px-2 py-2">
    <strong id="org" class="text-sm" lang="en"
      >High-level Experts and Leaders Panel on Water and Disasters</strong
    >
    <hr />
    <div class="flex items-center justify-between gap-4">
      <strong class="text-lg">HELP</strong>
      <MainNav />
      <LanguageSelect />
    </div>
  </div>
</header>

<style>
  @supports (animation-timeline: scroll()) {
    header {
      @apply bg-transparent;
      animation: change-bg linear both;
      animation-timeline: scroll();
      animation-range: 0 150px;
    }

    @keyframes change-bg {
      to {
        @apply -mt-11 bg-main text-white shadow;
      }
    }
  }
</style>
