---
import LanguageSelect from "./LanguageSelect.astro";
import MainNav from "./MainNav.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

type Props = { isInverted?: boolean };

const { isInverted = false } = Astro.props;
---

<header
  class:list={[
    "navbar fixed z-40 bg-base-100 text-neutral shadow supports-[animation-timeline:scroll()]:bg-transparent supports-[animation-timeline:scroll()]:shadow-none",
    { "supports-[animation-timeline:scroll()]:text-base-100": isInverted },
  ]}
>
  <div class="container mx-auto grid gap-2">
    <small lang="en" class="max-lg:hidden"
      >High-level Experts and Leaders Panel on Water and Disasters (HELP)</small
    >
    <hr class="max-lg:hidden" />
    <nav class="flex items-center">
      <a
        href={getRelativeLocaleUrl(Astro.currentLocale!)}
        lang="en"
        class="link-hover link me-auto text-xl font-bold lg:text-2xl">HELP</a
      >
      <MainNav />
      <LanguageSelect />
      <label
        for="drawer"
        aria-label="open sidebar"
        class="btn btn-square btn-ghost ms-4 md:hidden"
        tabindex="0"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-6 w-6 stroke-current"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path></svg
        >
      </label>
    </nav>
  </div>
</header>

<style>
  @supports (animation-timeline: scroll()) {
    header {
      @apply bg-transparent;
      animation-name: change-bg;
      animation-timing-function: linear;
      animation-fill-mode: both;
      animation-timeline: scroll();
      animation-range: 0 150px;

      @media (width > 1024px) {
        animation-name: change-bg, offset;
      }
    }

    @keyframes change-bg {
      to {
        @apply bg-white text-neutral shadow-lg;
      }
    }

    @keyframes offset {
      to {
        @apply -mt-9;
      }
    }
  }
</style>
