---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import { defaultLocale, languages } from "i18n";

const flags: ImageMetadata[] = await Astro.glob("../assets/svg/flags/*").then(
  (files) => files.map((f) => f.default),
);

const {
  currentLocale,
  url: { pathname },
} = Astro;
// TODO: need to be careful if locale code is longer then 2
const path = currentLocale === defaultLocale ? pathname : pathname.slice(4);
---

<div class="group dropdown dropdown-end ms-auto">
  <div tabindex="0" role="button" class="grid place-items-center">
    <Image
      class="inline-block w-6 border"
      src={flags.find((f) => f.src.includes(currentLocale!))!}
      alt={`${languages.find(({ lang }) => lang === currentLocale)?.name} flag`}
      loading="eager"
    />
  </div>
  <ul
    tabindex="0"
    class="menu dropdown-content menu-md z-[1] w-40 rounded-box bg-base-100 p-2 text-neutral shadow"
  >
    {
      languages.map(({ name, lang }) => (
        <li>
          <a
            class:list={[{ active: lang === currentLocale }]}
            href={getRelativeLocaleUrl(lang, path)}
            {lang}
            aria-current={lang === currentLocale ? "page" : null}
          >
            <Image
              class="inline-block w-6 border"
              src={flags.find((f) => f.src.includes(lang))!}
              alt={`${name} flag`}
            />
            {name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
