---
import Dropdown from "@/components/Dropdown.astro";
import { SITE_LINKS } from "@/constants.ts";
import type { Link } from "@/types";
import type { ComponentProps } from "astro/types";
import { getAbsoluteLocaleUrl, getRelativeLocaleUrl } from "astro:i18n";
import { useTranslation, type AvailableLocales } from "i18n";

const {
  HOME,
  BRIEF,
  DISCUSSIONS,
  MEETINGS,
  DOCUMENTS,
  NEWS,
  ABOUT,
  BACKGROUND,
  NETWORK,
  CONTACT,
  FLAGSHIP,
} = SITE_LINKS;

const lang = Astro.currentLocale as AvailableLocales;

const t = useTranslation(lang);

const links: Array<Link | ComponentProps<typeof Dropdown>> = [
  { title: t("link.home"), href: getRelativeLocaleUrl(lang, HOME) },
  {
    title: t("dropdown.what-we-do"),
    links: [
      { title: t("link.in-brief"), href: getRelativeLocaleUrl(lang, BRIEF) },
      {
        title: t("link.panel-discussions"),
        href: getRelativeLocaleUrl(lang, DISCUSSIONS),
      },
      {
        title: t("link.past-meetings"),
        href: getRelativeLocaleUrl(lang, MEETINGS),
      },
      {
        title: t("link.documentation"),
        href: getRelativeLocaleUrl(lang, DOCUMENTS),
      },
    ],
  },
  { title: t("link.newsroom"), href: getRelativeLocaleUrl(lang, NEWS) },
  {
    title: t("dropdown.about"),
    links: [
      { title: t("link.who-we-are"), href: getRelativeLocaleUrl(lang, ABOUT) },
      {
        title: t("link.background"),
        href: getRelativeLocaleUrl(lang, BACKGROUND),
      },
      {
        title: t("link.network"),
        href: getRelativeLocaleUrl(lang, NETWORK),
      },
      {
        title: t("link.contact"),
        href: getRelativeLocaleUrl(lang, CONTACT),
      },
    ],
  },
  {
    title: t("link.flagship-initiatives"),
    href: getAbsoluteLocaleUrl(lang, FLAGSHIP),
  },
];
---

<nav class="flex">
  <ul class="flex gap-8 uppercase tracking-wide hover:*:underline">
    {
      links.map((i) => {
        const isDropdown = "links" in i;
        return (
          <li>
            {isDropdown ? (
              <Dropdown links={i.links} title={i.title} />
            ) : (
              <a href={i.href}>{i.title}</a>
            )}
          </li>
        );
      })
    }
  </ul>
</nav>
