---
import news1 from "@/assets/images/home/news-1.jpg";
import news2 from "@/assets/images/home/news-2.jpg";
import news3 from "@/assets/images/home/news-3.jpg";
import Button from "@/components/Button.astro";
import { Image } from "astro:assets";

const news = [
  [
    "2023 HELP Global Report on Water and Disasters launched in Manila at HELP22",
    news1,
  ],
  [
    "Sixth UN Special Thematic Session on Water and Disasters will be held on March 21st in NY",
    news2,
  ],
  [
    "HELP Guiding Principles for Environmental Justice in Flood Risk Management launched in Tokyo [FEB 2023]",
    news3,
  ],
] as const;
---

<section id="news" class="mx-auto max-w-screen-lg space-y-8 px-2">
  <h2>A Relevant Actor in Times of Crisis</h2>
  <ul
    class="flex gap-2 font-bold text-white *:flex-1 *:rounded-lg first:*:grow-[1.5] max-md:flex-col"
  >
    {
      news.map(([title, src]) => (
        <li class="group  overflow-hidden rounded-lg bg-slate-700">
          <article class="grid h-full *:[grid-area:1/1/1/1]">
            <Image {src} alt={title} class="h-60 w-full object-cover" />
            <div class="grid h-full content-between bg-black/50 p-4">
              <h3 class="line-clamp-3 group-first:text-2xl">{title}</h3>
              <Button as="a" href="/" class="w-fit">
                Read article →
              </Button>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</section>
