---
import news1 from "@/assets/images/home/news-1.jpg";
import news2 from "@/assets/images/home/news-2.jpg";
import news3 from "@/assets/images/home/news-3.jpg";
import { Image } from "astro:assets";

const news = [
  [
    "2023 HELP Global Report on Water and Disasters launched in Manila at HELP22",
    news1,
  ],
  [
    "Sixth UN Special Thematic Session on Water and Disasters will be held on March 21st in NY",
    news2,
  ],
  [
    "HELP Guiding Principles for Environmental Justice in Flood Risk Management launched in Tokyo [FEB 2023]",
    news3,
  ],
] as const;
---

<section id="news" class="mx-auto max-w-screen-lg space-y-8 px-4">
  <h2>A Relevant Actor in Times of Crisis</h2>
  <ul
    class="flex gap-4 font-bold text-white *:flex-1 *:rounded-lg first:*:grow-[1.5] max-md:flex-col"
  >
    {
      news.map(([title, src]) => (
        <li class="group">
          <article class="card image-full h-full shadow-xl">
            <figure>
              <Image {src} alt={title} class="w-full object-cover" />
            </figure>
            <div class="card-body">
              <h3 class="card-title line-clamp-5 text-base text-white md:group-first:text-2xl">
                {title}
              </h3>
              <div class="card-actions mt-auto">
                <a href="/" class="btn btn-primary max-md:btn-block">
                  Read Article →
                </a>
              </div>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</section>
