@tailwind base;
@tailwind components;
@tailwind utilities;

html:has(:where(dialog[open], #drawer:checked)) {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-balance font-bold;
}

h2 {
  @apply text-2xl;
}

p {
  @apply text-pretty;
}

[lang="ko"] {
  word-break: keep-all;
}

.footer-title {
  @apply opacity-100;
}

.btn-primary {
  @apply text-white;
}
