---
// TODO: add # to page links to scroll to the docs section
---

<section id="documents" class="mx-auto max-w-screen-lg space-y-8 px-4">
  <h2 class="text-center text-4xl">Documents</h2>
  <ul class="grid auto-rows-fr gap-4 md:grid-cols-3">
    {
      [
        `HELP Global Report on Water and Disasters 2023`,
        `HELP Global Report on Water and Disasters 2022`,
        `The Principles to Foster Peace before, during, and after Water-related Disasters`,
        `HELP Guiding Principles for Drought Risk Management under a Changing Climate – Catalysing actions for climate-resilient drought –`,
        `Follow-up of major recommendations made by UNSGAB in Nov. 2015`,
        `HELP Global Report on Water and Disasters 2021`,
        `HELP Global Report on Water and Disasters 2020`,
        `Principles on Investment and Financing for Water-related Disaster Risk Reduction`,
        `HELP Global Report on Water and Disasters 2019`,
      ].map((article) => (
        <li>
          <article class="group card relative isolate h-full overflow-hidden border border-main/35 transition focus-within:bg-main focus-within:text-white hover:bg-main hover:text-white">
            <div class="card-body">
              <h3 class="card-title">
                <a
                  href=""
                  class="outline-none after:absolute after:inset-0"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {article}
                </a>
              </h3>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class=" absolute -bottom-4 end-0 -z-10 size-20 text-blue-100 transition-colors group-focus-within:text-blue-700 group-hover:text-blue-700"
            >
              <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z" />
              <path d="M14 2v4a2 2 0 0 0 2 2h4" />
              <path d="M10 9H8" />
              <path d="M16 13H8" />
              <path d="M16 17H8" />
            </svg>
          </article>
        </li>
      ))
    }
  </ul>
  <nav aria-label="Documents navigation" class="grid place-items-center">
    <ol class="join">
      {
        [...Array(2)].map((_, i) => {
          const isActive = i === 0;
          return (
            <li>
              <a
                class:list={[
                  "btn join-item",
                  { "btn-primary btn-active": isActive },
                ]}
                aria-current={isActive ? "page" : "false"}
                aria-label={`Go to page ${i + 1}`}
                href=""
              >
                {i + 1}
              </a>
            </li>
          );
        })
      }
    </ol>
  </nav>
</section>
