---
import hero1 from "@/assets/images/documents/hero-1.jpg";
import { Image } from "astro:assets";
---

<section
  id="hero"
  class="relative grid place-items-center bg-blue-900 *:[grid-area:1/1/1/1] after:absolute after:inset-0 after:bg-blue-900/80"
>
  <Image
    loading="eager"
    src={hero1}
    alt=""
    class="h-[75dvh] w-full object-cover"
  />
  <div class="relative z-10 space-y-4 px-4 text-center text-white">
    <h1 class="text-4xl">Resource Hub: Documents from HELP and Partners</h1>
    <hr />
    <p>Last publish: <time datetime="2023-06-03">2023-03-06</time></p>
  </div>
</section>
