---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Icon from "@/components/Icon.astro";
import Seo from "@/components/Seo.astro";
import "@/style.css";
import type { ComponentProps } from "astro/types";
import { ViewTransitions } from "astro:transitions";

type Props = ComponentProps<typeof Seo> & ComponentProps<typeof Header>;
---

<!doctype html>
<html lang={Astro.currentLocale} class="has-[dialog[open]]:overflow-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Seo {...Astro.props} />
    <Icon />
    <ViewTransitions />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header isInverted={Astro.props.isInverted} />
    <slot />
    <Footer />
  </body>
</html>
