---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Icon from "@/components/Icon.astro";
import Seo from "@/components/Seo.astro";
import "@/style.css";
import type { ComponentProps } from "astro/types";

type Props = ComponentProps<typeof Seo>;
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <Seo {...Astro.props} />
    <Icon />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
