<section
  id="about"
  class="mx-auto max-w-screen-lg space-y-4 px-2 text-lg after:mt-8 after:block after:h-1 after:w-16 after:bg-main"
>
  <h2 class="text-4xl">About Flagship Initiatives</h2>
  <p class="">
    Our primary initiatives serve as the cornerstone programs designed to bring
    together individuals and organizations in sharing knowledge and
    collaborating on addressing water-related disasters. Through these
    initiatives, we aim to foster partnerships.
  </p>
  <p>
    Biannually, the primary organization leading each initiative presents its
    progress and forthcoming plans during the biannual HELP meetings.
  </p>
</section>
